<!doctype html>
<html>

<head>
    <title>
        Order Book
    </title>
    <meta charset="utf-8">
    <!--    <meta name="viewport" content="initial-scale=1.0">-->
    <!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">
</head>

<body ng-app="order-book">
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="navbar-brand">
                Saraswati Offset Printers | ORDER BOOK
            </div>
            <div class="btn btn-navbar pull-right">
                <a href="#!login" class="btn btn-info">Authentication</a>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-7">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#order_list" data-toggle="tab">Pending Orders</a></li>
                    <li><a href="#payment_list" data-toggle="tab">Due Payments</a></li>
                    <li><a href="#customer_panel" data-toggle="tab">Customers</a></li>
                    <li><a href="#search_order" data-toggle="tab">Search Order</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in" id="search_order">
                        <div class="col-xs-offset-3 col-xs-6" ng-controller="SearchOrderController as searchOrder" style="margin-top: 50px">
                            <div class="input-group">
                                <input type="number" placeholder="Enter Order ID" ng-model="searchOrder.id" class="form-control">
                                <span class="input-group-btn">
                                    <a href="#!order/{{searchOrder.id}}" class="btn btn-info"><i class="glyphicon glyphicon-search"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane active fade in" id="order_list"><br>
                        <div class="col-sm-12" ng-controller="PendingOrderController as pendingOrder">
                            <div class="alert alert-info text-center">Printing Status</div>
                            <div class="order-list">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td>Order ID</td>
                                            <td>Type</td>
                                            <td>Customer</td>
                                            <td>Firm Name</td>
                                            <td>Status</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="order in pendingOrder.list">
                                            <td>{{order.id}}</td>
                                            <td><a href="#!order/{{order.id}}">{{order.type}}</a></td>
                                            <td>{{order.customer}}</td>
                                            <td>{{order.firm}}</td>
                                            <td>
                                                <span ng-class="{'label label-info' : order.status=='progress', 'label label-warning' : order.status=='pending'}">{{order.status}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="payment_list">
                        <br>
                        <div class="col-sm-12" ng-controller="DueOrderController as dueOrder">
                            <div class="alert alert-warning text-center">Due Payments</div>
                            <div class="order-list">
                                <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Order ID</td>
                                        <td>Type</td>
                                        <td>Customer</td>
                                        <td>Firm</td>
                                        <td>Payment Due</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in dueOrder.list">
                                        <td>{{order.id}}</td>
                                        <td><a href="#!order/{{order.id}}">{{order.type}}</a></td>
                                        <td>{{order.customer}}</td>
                                        <td>{{order.firm}}</td>
                                        <td>{{order.due}}</td>

                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade in" id="customer_panel">
                        <br>
                        <div class="col-sm-12" ng-controller="CustomerOrderController as orders">
                           <div ng-if="orders.isCustomerSelected==true"> 
                            <div class="alert alert-info">
                                
                                {{orders.customerData.name}}, {{orders.customerData.contact}}
                                <br>{{orders.customerData.address}}
                                <button type="button" data-toggle="modal" data-target="#add_order" class="btn btn-default pull-right"><i class="glyphicon glyphicon-plus"></i> Add new order</button>
                            </div>
                        <div class="order-list" >
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Order ID</td>
                                        <td>Type</td>
                                        <td>Firm</td>
                                        <td>Date</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="order in orders.list">
                                        <td>{{order.id}}</td>
                                        <td><a href="#!order/{{order.id}}">{{order.type}}</a></td>
                                        <td>{{order.firm}}</td>
                                        <td>{{order.order_date}}</td>
                                        <td ng-class="{'label label-warning' : order.status=='pending', 'label label-default' : order.status=='completed', 'label label-info' : order.status=='progress', 'label label-success' : order.status=='delivered'}">{{order.status}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                            
                            <div ng-if="orders.isCustomerSelected==false"> 
                                <div class="alert alert-danger">SELECT CUSTOMER FROM LIST</div>
                            </div>
                        <div class="modal fade" id="add_order" role="dialog">
        <div class="modal-dialog">
            <!--modal-content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add New Order</h4>
                </div>
                <div class="modal-body">
                    <form id="profile_form">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td>Type</td>
                                    <td><input type="text" class="form-control" name="type" ng-model="orders.newOrder.type">
                                    </td>
                                </tr>

                                <tr>
                                    <td>Firm Name</td>
                                    <td><input type="text" class="form-control" name="firm" ng-model="orders.newOrder.firm"></td>
                                </tr>

                                <tr>
                                    <td>Description</td>
                                    <td><textarea type="text" class="form-control" name="description" ng-model="orders.newOrder.description"></textarea>
                                </tr>
                                <tr>
                                    <td>Total:</td>
                                    <td>
                                        <div cl ass="row">
                                            <div class="col-xs-4"><input type="number" class="form-control" name="total" ng-model="orders.newOrder.total" placeholder="Total"></div>
                                            <div class="col-xs-4"><input type="number" class="form-control" name="discount" ng-model="orders.newOrder.discount" value="" placeholder="Discount"></div>
                                            <div class="col-xs-4"><input type="number" class="form-control" name="advance" ng-model="orders.newOrder.advance" value="" placeholder="Advance"></div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="modal-footer">
                    <span class="alert alert-success">{{orders.orderMessage}}</span>
                    <button type="submit" ng-click="orders.addNewOrder()" class="btn btn-info pull-right">Add Order</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5" align="center">
                <br>
                <div ng-view></div>

            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="col-xs-12 text-right ">
            saraswatiprinters.in | kotri, 311603
        </div>
    </footer>
    <div loading class="text-center loading"></div>
    
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
    <!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/bootstrap.min.js"></script>
    <script src="assets/libs/angular.min.js"></script>
    <script src="assets/libs/angular-route.min.js"></script>
    <script src="assets/libs/ngstorage.min.js"></script>
    
    <script src="app.module.js"></script>
    <script src="directives/loading.directive.js"></script>
    <script src="controllers/pendingOrder.controller.js"></script>
    <script src="controllers/customerOrder.controller.js"></script>
    <script src="controllers/orderDetail.controller.js"></script>
    <script src="controllers/dueOrder.controller.js"></script>
    <script src="controllers/searchOrder.controller.js"></script>
    <script src="controllers/customerSection.controller.js"></script>
    <script src="controllers/authentication.controller.js"></script>
    <script src="routing/config.js"></script>
    <script src="services/pendingOrder.service.js"></script>
    <script src="services/orderDetail.service.js"></script>
    <script src="services/customerSection.service.js"></script>
    <script src="services/dueOrder.service.js"></script>
    <script src="services/authentication.service.js"></script>

</body>

</html>