
.footer {
    background-color: darkgray;
    padding: 2px;
    height: 32px;
    color: white;
    font-size: 13px;
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.order-list {
    height: 300px;
    overflow-y: auto;
}
.loading {
    position: absolute;
    left: 0px;
    top: 225px;
    width: 100%;
    z-index: 9999;
}